<h1>Contact Me</h1>
<form action='/contact' method='post'>
	<label>
	Your Name
	<input type='text' name='name'>
	</label>
	<br />
	<label>
	Phone Number
	<input type='tel' name='phone' placeholder='123-456-7890'>
	</label>
	<br />
	<label>
	Email
	<input type='email' name='email-address' placeholder='name@thing.com'>
	</label>
	<br />
	<textarea class='textarea' name='comment'>Enter your message for Mara here</textarea>
	<br />
	<input type='submit' />
</form>
<footer>
	<a href='about_me'>Main</a>
	<a href='https://www.linkedin.com/in/marabd'>LinkedIn</a>
</footer>