<h1 class='h1'>Mara Behles Dean</h1>
<hr />
<img class='img' src='/images/dogs.jpg' alt='dogs'>
<hr />
<div class='div'>
<section class='section'>
	<h3>About Me</h3>
	<p>I am from Evanston, IL, just outside of Chicago. I graduated from University of Wisconsin at Madison. I moved to Utah about four years ago. I live near the 9th & 9th neighborhood with my husband and our two dogs.</p>
</section>
<section class='section'>
	<h3>Hobbies and Interests</h3>
	<p>I love to ski, cook, travel, speak Spanish, eat, learning new skills, and anything related to cheese. I also love spending time with my dogs. Finally, I am not great about talking about myself.</p>
</section>
<section class='section'>
	<h3>Random Facts</h3>
	<p>I am extremely sarcastic and have a very dry sense of humor. One of my recent proudest accomplishments is keeping an orchid I recieved as a gift alive for more than a year. I really miss Lake Michigan. I enjoy hoppy IPAs.</p>
</section>
</div>
<hr />
<footer>
	<a href='contact'>Contact Me</a>
	<a href='https://www.linkedin.com/in/marabd'>LinkedIn</a>
</footer>